appnope==0.1.4 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
asttokens==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
cachetools==5.5.2 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0" and implementation_name == "pypy"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.3 ; python_version >= "3.11" and python_version < "4.0"
debugpy==1.8.19 ; python_version >= "3.11" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.11" and python_version < "4.0"
executing==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
ipykernel==6.31.0 ; python_version >= "3.11" and python_version < "4.0"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
ipython==9.8.0 ; python_version >= "3.11" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.11" and python_version < "4.0"
jupyter-client==8.7.0 ; python_version >= "3.11" and python_version < "4.0"
jupyter-core==5.9.1 ; python_version >= "3.11" and python_version < "4.0"
matplotlib-inline==0.2.1 ; python_version >= "3.11" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
parso==0.8.5 ; python_version >= "3.11" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
platformdirs==4.5.1 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.11" and python_version < "4.0"
psutil==7.2.1 ; python_version >= "3.11" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.11" and python_version < "4.0" and implementation_name == "pypy"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
pyzmq==27.1.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "4.0"
tenacity==8.5.0 ; python_version >= "3.11" and python_version < "4.0"
tornado==6.5.4 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.14 ; python_version >= "3.11" and python_version < "4.0"
